$color: #F8A815;
/*Iphone 4*/
@media screen and (min-width: 320px) and (max-width: 374px) and (min-height: 480px) and (max-height:666px) and (orientation: portrait){
    #index1{
        background: url(../img/mobile/fon.png);
        background-size: cover;
    }
    .contact_us{
        display: none;
    }
    nav{
        display: none;
    }
    main{
        header{
            
            .navMobile{
                display: block;
                font-size: 40px;
                color: white;
                position: absolute;
                right: 108px;
                top: 40px;
            }
        }
        .slider{
            display: none;
        }
        .text{
            margin-top: 65.7%;
            margin-left: 5.6%;
             .span1{
                 font-size: 150px;
             }
             .span2{
                 font-size: 150px;
             }
             p{
                 width: 90%;
                 line-height: 1em;
                 font-size: 41px;
                
             }
             .contact_us_mobile{
                 display: table;
                width: 90%;
                height: 82px;
                background: $color;
                a{
                    display: table-cell;
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 40px;
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                }
             }
    }
}
}
@media screen and (min-width: 375px) and (min-height: 667px) and (max-height: 811px) and (orientation: portrait){
    #index1{
        background: url(../img/mobile/fon.png);
        background-size: cover;
    }
    .contact_us{
        display: none;
    }
    nav{
        display: none;
    }
    main{
        header{
            
            .navMobile{
                display: block;
                font-size: 40px;
                color: white;
                position: absolute;
                right: 108px;
                top: 40px;
            }
        }
        .slider{
            display: none;
        }
        .text{
            margin-top: 84.7%;
            margin-left: 5.6%;
             .span1{
                 font-size: 150px;
             }
             .span2{
                 font-size: 150px;
             }
             p{
                 width: 90%;
                 line-height: 1em;
                 font-size: 41px;
                
             }
             .contact_us_mobile{
                 display: table;
                width: 90%;
                height: 82px;
                background: $color;
                a{
                    display: table-cell;
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 40px;
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                }
             }
    }
}
}
@media screen and (min-width: 375px) and (min-height: 812px) and (orientation: portrait){
    #index1{
        background: url(../img/mobile/fon2.png);
        background-size: cover;
    }
    .contact_us{
        display: none;
    }
    nav{
        display: none;
    }
    main{
        header{
            
            .navMobile{
                display: block;
                font-size: 40px;
                color: white;
                position: absolute;
                right: 108px;
                top: 40px;
            }
        }
        .slider{
            display: none;
        }
        .text{
            margin-top: 84.7%;
            margin-left: 5.6%;
             .span1{
                 font-size: 150px;
             }
             .span2{
                 font-size: 150px;
             }
             p{
                 width: 90%;
                 line-height: 1em;
                 font-size: 41px;
                
             }
             .contact_us_mobile{
                 display: table;
                width: 90%;
                height: 82px;
                background: $color;
                a{
                    display: table-cell;
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 40px;
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                }
             }
    }
}
}