/*Iphone 4*/
@media screen and (min-device-width: 320px) and (max-device-width: 374px) and (min-device-height: 480px) and (max-device-height: 666px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #index1 {
    background: url(../img/mobile/fon.png);
    background-size: cover;
  }
  .contact_us {
    display: none;
  }
  nav {
    display: none;
  }
  main header .navMobile {
    display: block;
    font-size: 40px;
    color: white;
    position: absolute;
    right: 108px;
    top: 40px;
  }
  main .slider {
    display: none;
  }
  main .text {
    margin-top: 60.7%;
    margin-left: 5.6%;
  }
  main .text .span1 {
    font-size: 150px;
  }
  main .text .span2 {
    font-size: 150px;
  }
  main .text p {
    width: 90%;
    line-height: 1em;
    font-size: 41px;
  }
  main .text .contact_us_mobile {
    display: table;
    width: 90%;
    height: 82px;
    background: #F8A815;
  }
  main .text .contact_us_mobile a {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}

@media screen and (min-device-width: 375px) and (min-device-height: 667px) and (max-device-height: 811px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #index1 {
    background: url(../img/mobile/fon.png);
    background-size: cover;
  }
  .contact_us {
    display: none;
  }
  nav {
    display: none;
  }
  main header .navMobile {
    display: block;
    font-size: 40px;
    color: white;
    position: absolute;
    right: 108px;
    top: 40px;
  }
  main .slider {
    display: none;
  }
  main .text {
    margin-top: 84.7%;
    margin-left: 5.6%;
  }
  main .text .span1 {
    font-size: 150px;
  }
  main .text .span2 {
    font-size: 150px;
  }
  main .text p {
    width: 90%;
    line-height: 1em;
    font-size: 41px;
  }
  main .text .contact_us_mobile {
    display: table;
    width: 90%;
    height: 82px;
    background: #F8A815;
  }
  main .text .contact_us_mobile a {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}

@media screen and (min-device-width: 375px) and (min-device-height: 812px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #index1 {
    background: url(../img/mobile/fon2.png);
    background-size: cover;
  }
  .contact_us {
    display: none;
  }
  nav {
    display: none;
  }
  main header .navMobile {
    display: block;
    font-size: 40px;
    color: white;
    position: absolute;
    right: 108px;
    top: 40px;
  }
  main .slider {
    display: none;
  }
  main .text {
    margin-top: 84.7%;
    margin-left: 5.6%;
  }
  main .text .span1 {
    font-size: 150px;
  }
  main .text .span2 {
    font-size: 150px;
  }
  main .text p {
    width: 90%;
    line-height: 1em;
    font-size: 41px;
  }
  main .text .contact_us_mobile {
    display: table;
    width: 90%;
    height: 82px;
    background: #F8A815;
  }
  main .text .contact_us_mobile a {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}
